<layout-render data-main="nagios-main.html" data-left="nagios-left.html"></layout-render>


<script type="text/ng-template" id="nagios-left.html">
	<div class="col-lg-12 komrd-ren-st" style="padding-left: 0; padding-right: 0">
		<div class="">
			<div class="green-bg content-title small-box i-block text-center">
				<span class="zero-m"
				      style="font-weight: bold;font-size: 16px;">{{_('Assets')}}</span>
			</div>
			<div class="small-box" style="padding-top: 0; padding-bottom: 15px; margin-top: 15px">
				<div class="text-center">
					<button class="btn waves btn-primary waves-effect"
					        ng-click="openCreator('lg')">{{_('New asset')}}
					</button>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col-lg-12">
						<input type="text" class="form-control" placeholder="{{_('Search...')}}"
						       ng-model="searchSettings">
					</div>
				</div>
				<div style="margin-top: 10px;">
					<table class="table table-hover table-striped">
						<tbody>
						<tr ng-repeat="data in nagiosSettings.data | filter:searchSettings"
						    ng-click="selectSetting(data)"
						    style="cursor:pointer;">
							<td>
								<div class="content-title i-block">
									{[{data.address}]}
								</div>
							</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="nagios-main.html">
	<div class="row" ng-hide="!nagiosSetting.empty">
		<div class="col-lg-12 text-center">
			<div class="content-box-no-hidden box-shadow big-box">
				<h1>Добавьте новый актив</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12" ng-hide="nagiosSetting.empty"
	     style="padding-left: 0; padding-right:0;">
		<div class="content-box-no-hidden box-shadow big-box">
			<div class="row" style="margin-top: 10px; margin-left: 0; margin-right: 0">
				<div class="panel-group" id="accordion">
					<div>
						<dl class="dl-horizontal ng-scope">
							<dt>
								{{_('Host Name')}}:
							</dt>
							<dd>
								{[{nagiosSetting.hostname}]}
							</dd>
							<dt>
								{{_('IP Address')}}:
							</dt>
							<dd>
								{[{nagiosSetting.address}]}
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12"
				     style="border:None;">
					<div class="pull-right">
						<button type="button" class="btn btn-default fa fa-pencil"
						        ng-click="configure(nagiosSetting)">
						</button>
						<button type="button" class="btn btn-danger"
						        ng-click="deleteSetting(nagiosSetting)">
							{{_('Delete')}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content-box box-shadow big-box">
			<div class="col-lg-12 col-md-12 email-container">
				<div class="inbox-body">
					<table class="table table-hover table-striped">
						<thead>
						<tr>
							<th>{{_('Port')}}</th>
							<th>{{_('Plugin name')}}</th>
							<!--<th>Дата последнего события</th>-->
							<th>{{_('Description')}}</th>
						</tr>
						<tbody>
						<tr ng-repeat="item in nagiosSetting.services">
							<td>
								<div class="content-title i-block">
									{[{item.port}]}
								</div>
							</td>
							<td>
								<div class="content-title i-block">
									{[{item.plugin}]}
								</div>
							</td>
							<td>
								<div class="content-title i-block">
									{[{item.description}]}
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="settModal.html">
	<div class="modal-body">

		<form name="form" class="content-form form-horizontal" novalidate>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.hostname.$invalid &&
			     form.hostname.$dirty && hostnameAllreadyExistError}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Host Name')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="hostname"
					       placeholder="{{_('Hostname')}}"
					       ng-model="nagios_settings.hostname" required>

					<div class="val-error animate-show"
					     ng-show="(form.hostname.$invalid && form.hostname.$dirty) || hostnameAllreadyExistError">
						<ul>
							<li ng-show="form.hostname.$error.required">{{_('this field is required')}}
							</li>
							<li ng-show="hostnameAllreadyExistError">{{_('asset with this hostname is already exist')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.address.$dirty && validationError}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">{{_('IP Address')}}*</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="address"
					       placeholder="{{_('IP Address')}}"
					       ng-model="nagios_settings.address" required>
					<div class="val-error animate-show"
					     ng-show="form.address.$dirty">
						<ul>
							<li ng-show="form.address.$error.required">{{_('this field is
								required')}}
							</li>
							<li ng-show="validationError">{{_('address is incorrect')}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group" ng-repeat="service in services"
					     ng-class="{'form-group': true, 'has-error': service.pluginValidationErr ||
					     service.portValidationErr || service.descriptionValidationErr }">
						<label class="col-lg-2 col-md-2 col-sm-3 control-label">{{_('Plugins')}}*</label>
						<div class="col-lg-2 col-md-2 col-sm-3">
							<select class="form-control"
							        ng-change="portSetter(service)"
							        ng-model="service.selectedPlugin"
							        ng-options="item.name for item in service.options  track by item.id"
							        ng-class="(service.pluginValidationErr)?'btn-danger':null"></select>
						</div>
						<label class="col-lg-1 col-md-2 col-sm-3 control-label">{{_('Port')}}*</label>
						<div class="col-lg-2 col-md-2 col-sm-3">
							<input class="form-control material" type="number"
							       min="1" required
							       placeholder="{{_('Port number')}}"
							       ng-model="service.port">
						</div>
						<label class="col-lg-1 col-md-2 col-sm-3 control-label">{{_('Description')}}*</label>
						<div class="col-lg-2 col-md-2 col-sm-3">
							<input class="form-control material" placeholder="{{_('Description')}}"
							       ng-model="service.description" required>
						</div>
						<div class="col-lg-12 col-lg-offset-2 val-error animate-show"
						     style="margin-top: 5px"
						     ng-show="(service.pluginValidationErr ||
					     service.portValidationErr || service.descriptionValidationErr)?true:false">
							<ul>
								<li>
									{{_('all fields are required')}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a ng-hide="services.length === 10"
					   class="btn btn-success btn-xs" href=""
					   title="Добавить плагин"
					   ng-click="addNewChoice()">
						<span class="fa fa-plus"></span>
					</a>
					<a ng-show="services.length > 1"
					   ng-hide="services.length === 1"
					   class="btn btn-xs btn-danger" title="Удалить плагин"
					   ng-click="removeChoice()">
						<span class="fa fa-minus"></span>
					</a>
				</div>
			</div>

		</form>
		<div style="background-color:#f5f5f5;" ng-disabled="true">
		</div>

	</div>
	<div class="modal-footer">
		<!--<button class="btn btn-danger" role="alert" ng-show="adder.input.$error.required">-->
		<!--<div class="glyphicon glyphicon-exclamation-sign"></div>  {{_('Not all fields are filled')}}!-->
		<!--</button>-->
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok(nagios_settings, services)">
			{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>
</script>

<script type="text/ng-template" id="dialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление актива</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить актив {[{nagios_settings.hostname}]}?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger delOk" ng-click="remove()" type="button">Удалить</button>
	</div>
</script>