<script type="text/ng-template" id="removeConfirmation.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">{[{ msg.header }]}</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center" ng-bind-html='msg.body'>

		</span>
	</div>
	<div class="modal-footer text-center">
		<button class="btn btn-default" ng-click="cancel()" type="button">
			{{ _('Cancel') }}
		</button>
		<button class="btn btn-danger" ng-click="remove()" type="button">
			{{ _('Remove') }}
		</button>
	</div>
</script>
