<script type="text/ng-template" id="widget_configLeft.html">
    <div class="form-group"
         ng-class="{'form-group': true,
                         'has-error': form.graphType.$dirty &&
                         (widget_settings.graph_type.id === undefined)?true:false}">
        <label class="col-lg-4 col-md-4 col-sm-6 control-label">
            {{_('Graph type')}}
        </label>
        <div class="col-lg-5 col-md-4 col-sm-6 drop">
            <select class="btn waves btn-primary col-lg-12 col-md-12 col-sm-12
                                    dropdown-toggle waves-effect waves-float graphSelect"
                    name="graphType"
                    ng-options="item.name for item in items track by item.id"
                    ng-model="widget_settings.graph_type"
                    ng-class="(widget_settings.graph_type.id === undefined &&
                                    form.graphType.$dirty)?'btn-danger':null">
                <option value=""
                        ng-show="(widget_settings.graph_type.id === undefined)?true:false">{{_('Data select')}}
                </option>
            </select>
            <!--<span ng-show="!showGraphConfirm"-->
            <!--class="glyphicon glyphicon-remove form-control-feedback"  style="color:red"></span>-->
        </div>
    </div><!--конец селекта-->
    <div class="form-group ng-hide" ng-show="form.graphType.$dirty &&
                             (widget_settings.graph_type.id === undefined)?true:false">
        <div class="col-lg-4 col-md-4 col-sm-6 control-label"></div>
        <div class="val-error animate-show col-lg-4 col-md-5 col-sm-6"
             ng-show="form.graphType.$dirty &&
                                 (widget_settings.graph_type.id === undefined)?true:false">
            <ul>
                <li ng-show="form.graphType.$dirty &&
                                        (widget_settings.graph_type.id === undefined)?true:false">
                    {{_('this field is required')}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div  class="form-group ng-hide animate-show"
              ng-show="areaConfigFlag">
            <label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Area')}}</label>
            <div class="col-lg-5 col-md-4 col-sm-6">
                <div class="checkbox checkbox-danger"
                     style="padding-top:7px;">
                    <label>
                        <input type="checkbox" ng-model="areaChartFlag" ng-disabled="facetedChartFlag"
                               ng-checked="areaChartFlag">
                        <i></i>
                    </label>
                </div>
            </div>
        </div>
        <div  class="form-group ng-hide animate-show"
              ng-show="lineGraphConfig">
            <label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Faceted')}}</label>
            <div class="col-lg-5 col-md-4 col-sm-6">
                <div class="checkbox checkbox-danger"
                     style="padding-top:7px;">
                    <label>
                        <input type="checkbox" ng-model="facetedChartFlag" ng-disabled="areaChartFlag"
                               ng-checked="facetedChartFlag">
                        <i></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group ng-hide animate-show"
         ng-show="graph3d">
        <div>
            <label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('3D')}}</label>
            <div class="col-lg-5 col-md-4 col-sm-6">
                <div class="checkbox checkbox-danger"
                     style="padding-top:7px;">
                    <label>
                        <input type="checkbox" ng-model="chartFlag" ng-checked="chartFlag">
                        <i></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'form-group': true, 'has-error':form.period.$invalid && form.period.$dirty}">
        <label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Period(sec)')}}*</label>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <input class="form-control material period" type="number"
                   name="period" ng-model="widget_settings.update_period"
                   min="5" required>
            <div class="val-error animate-show"
                 ng-show="form.period.$invalid && form.period.$dirty">
                <ul>
                    <li ng-show="form.period.$error.required">
                        {{_('this field is required')}}
                    </li>
                    <li ng-show="form.period.$error.min">{{_('minimum value is 5')}}
                    </li>
                    <li ng-show="form.period.$error.number">{{_('value must be a number')}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'form-group': true, 'has-error':form.duration.$invalid && form.duration.$dirty}">
        <label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Duration(sec)')}}*</label>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <input class="form-control material duration" type="number" name="duration"
                   ng-model="widget_settings.plot_duration"
                   min="5"
                   required
                   ng-disabled="chartFlag">
            <div class="val-error animate-show"
                 ng-show="form.duration.$invalid && form.duration.$dirty">
                <ul>
                    <li ng-show="form.duration.$error.required">
                        {{_('this field is required')}}
                    </li>
                    <li ng-show="form.duration.$error.min">{{_('minimum value is 5')}}
                    </li>
                    <li ng-show="form.duration.$error.number">{{_('value must be a number')}}
                    </li>
                    <li ng-show="widget_settings.plot_duration < widget_settings.update_period">{{_('duration must be >=  period')}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</script>