<script type="text/ng-template" id="widget_configRight.html">
    <div class="form-group" ng-class="{'form-group': true,
                         'has-error': widget_settings.graph_type.id !== 'line' &&
                                    widget_settings.data_type.id === undefined &&
                                    widget_settings.graph_type.id !== undefined &&
                                    form.dataType.$dirty}">
        <label class="col-lg-5 col-md-5 col-sm-6 control-label">{{_('Data type')}}</label>
        <div class="col-lg-4 col-md-7 col-sm-6">
            <select class="btn waves btn-primary col-lg-12 col-md-12 col-sm-12
                                    dropdown-toggle waves-effect waves-float dataTypeSelect"
                    ng-options="item.name for item in data_items track by item.id"
                    name="dataType"
                    ng-model="widget_settings.data_type"
                    ng-disabled="((widget_settings.graph_type.id === 'line' &&
                                    facetedChartFlag ===false) ||
                                    widget_settings.graph_type === undefined) ? true : false"
                    ng-class="(widget_settings.graph_type.id !== 'line' &&
                                    widget_settings.data_type.id === undefined &&
                                    widget_settings.graph_type.id !== undefined &&
                                    form.dataType.$dirty)?'btn-danger':null">
                <option value=""
                        ng-show="(widget_settings.data_type.id === undefined) ? true:false"
                        ng-selected="widget_settings.graph_type.id === 'line'">
                    {{_('Data select')}}
                </option>
            </select>
            <!--<span ng-show="!showGraphConfirm"-->
            <!--class="glyphicon glyphicon-remove form-control-feedback"  style="color:red"></span>-->
        </div>
    </div><!--второй конец селекта-->
    <div class="form-group" ng-show="widget_settings.graph_type.id !== 'line' &&
                             widget_settings.data_type.id === undefined &&
                             widget_settings.graph_type.id !== undefined && form.dataType.$dirty">
        <div class="col-lg-5 col-md-5 col-sm-6 control-label"></div>
        <div class="val-error animate-show col-lg-4 col-md-7 col-sm-6"
             ng-show="widget_settings.graph_type.id !== 'line' &&
                                 widget_settings.data_type.id === undefined &&
                                 form.dataType.$dirty">
            <ul>
                <li ng-show="widget_settings.graph_type.id !== 'line' &&
                                        widget_settings.data_type.id === undefined &&
                                        widget_settings.graph_type.id !== undefined &&
                                        form.dataType.$dirty">
                    {{_('this field is required')}}
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'form-group': true, 'has-error':form.ecount.$invalid && form.ecount.$dirty}">
        <label class="col-lg-5 col-md-5 col-sm-6 control-label">{{_('Events count')}}*</label>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <input class="form-control material" type="number" name="ecount"
                   ng-model="widget_settings.results_count"
                   min="1" required
                   ng-disabled="((widget_settings.graph_type.id === 'line' &&
                                    facetedChartFlag ===false) ||
                                    widget_settings.graph_type === undefined)?true:false">
            <div class="val-error animate-show"
                 ng-show="form.ecount.$invalid && form.ecount.$dirty">
                <ul>
                    <li ng-show="form.ecount.$error.required">
                        {{_('this field is required')}}
                    </li>
                    <li ng-show="form.ecount.$error.min">{{_('minimum value is 1')}}
                    </li>
                    <li ng-show="form.ecount.$error.number">{{_('value must be a number')}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-5 col-md-5 col-sm-6 control-label">
            {{_('Show delta')}}</label>
        <div class="col-lg-5 col-md-4 col-sm-6">
            <div class="checkbox checkbox-danger"
                 style="padding-top:7px;">
                <label>
                    <input type="checkbox"
                           ng-model="widget_settings.show_delta">
                    <i></i>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-5 col-md-5 col-sm-6 control-label">
            {{_('Sort Data')}}</label>
        <div class="col-lg-5 col-md-4 col-sm-6">
            <div class="checkbox checkbox-danger"
                 style="padding-top:7px;">
                <label>
                    <input type="checkbox"
                    ng-model="widget_settings.sort">
                    <i></i>
                </label>
            </div>
        </div>
    </div>
</script>