<div class="row">
<div class="col-lg-4">
	<div class="checkbox checkbox-danger">
		<label>
			<input type="checkbox" ng-model="dbDatas.{{articles}}.doBackups">
				<i></i>
				{{_('Do backup')}}
		</label>
	</div>

	<fieldset ng-disabled="!dbDatas.{{articles}}.doBackups"> 
		<div class="form-group" ng-disabled="dbDatas.{{articles}}.doBackups">
			<label class="control-label">
				{{_('Backup type:')}}
			</label>
			<div>
				<filled-dropdown
					ng-model="dbDatas.{{articles}}.backupSchemeSelected"
					items="dbDatas.{{articles}}.backupScheme"
					callback="switchThis('{{articles}}', item)">
				</filled-dropdown>
			</div>
		</div>

		<div class="form-group" ng-show="dbDatas.{{articles}}.backupSchemeSelected == 'by_events'">
			<label class="control-label"  class="col-lg-2">
				{{_('Number of events:')}}
			</label>
			<div>
				<input  class="form-control material" type="number" class="col-lg-2"
				        ng-model="dbDatas.{{articles}}.period">
			</div>
		</div>

		<div class="form-group" ng-show="dbDatas.{{articles}}.backupSchemeSelected == 'by_time'">
			<label class="control-label">
				{{_('Time delay (hours):')}}
			</label>
			<div>
				<input  class="form-control material" type="number"
				        name="period" ng-model="dbDatas.{{articles}}.period">
			</div>
		</div>
	</fieldset>

	<div class="checkbox checkbox-danger">
		<label>
			<input type="checkbox" ng-model="dbDatas.{{articles}}.doRemove">
				<i></i>
				{{_('Remove backups behavior:')}}
		</label>
	</div>

	<fieldset ng-disabled="!dbDatas.{{articles}}.doRemove">

		<div class="form-group">
			<label class="control-label">
				{{_('Remove after (days):')}}
			</label>
			<div>
				<input  class="form-control material" type="number"
				        name="period" ng-model="dbDatas.{{articles}}.removeDelay">
			</div>
		</div>
	</fieldset>

	<button class="btn btn-primary" type="button" ng-click="doNothing(1)">
		{{_('Apply')}}
	</button>
	<button class="btn btn-primary" type="button" ng-click="doNothing(1)">
		{{_('Do backup')}}
	</button>

</div>

<div class="col-lg-7 col-lg-offset-1">
	<div class="row" style="padding-right: 30px;">

		<label>{{_('HDD size')}}:</label>
		<highchart config="chartConfigBase" class="chart" weight="100%"></highchart>

		<label class="col-lg-12">{{_('Last backups')}}:</label>
		<table class="table table-striped"
		       st-table="dbDatas.{{articles}}.backups.data ">
			<thead>
				<tr>
						<th class="col-lg-1">{{ _('ID') }}</th>
						<th class="col-lg-2">{{ _('size')}} (GB)</th>
						<th class="col-lg-3">{{ _('date') }}</th>
						<th class="col-lg-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="row in dbDatas.{{articles}}.backups.data ">
						<td>{[{ row.id }]}</td>
						<td>{[{ row.size }]}</td>
						<td>{[{ row.date | date:'HH:mm:ss dd-MM-yyyy' }]}</td>
						<td>
							<a ng-click="doNothing(row)"
							   class="btn btn-xs btn-default">
								<span class="fa fa-reply"></span>
							</a>
							<a ng-click="doNothing(row)"
							   class="btn btn-xs btn-danger">
								<span class="fa fa-trash"></span>
							</a>
						</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="5" colspan="4">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

</div>
</div>