<div class="row">
	<h3>{{_('Journals')}}</h3>

<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px;" />

<div class="col-lg-12">
	<div id="tenth-tabs" class="tabbable vertical-tabs">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-4">
					<ul class="nav nav-tabs tabs-with-bg tabs-left">
						{% for k in data %}
						<li
							{% if data.keys().index(k)  == 0 %}
								class="active"
							{% endif %}>
							<a data-toggle="tab" href="#/config/journals#{{data.keys().index(k)}}" aria-expanded="true">
								<span class="fa-stack">
								</span>{{k}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-lg-10 col-md-10 col-xs-8">
					<div class="tab-content">
						{% for k in data %}
						<div id="{{data.keys().index(k)}}"
							{% if data.keys().index(k)  == 0  %}
							class="tab-pane fade active in"
							{% else %}
							class="tab-pane fade"
							{% endif %}
						>
							{% for line in data[k] %}
								<h5>{{line}}</h5>
							{% endfor %}
						</div>
						{% endfor %}
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>

</div>