<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="content-box big-box box-shadow col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                <div ng-show="" class="row margin-top-ten">
                    <div class="col-lg12">
                        <h1></h1>
                    </div>
                </div>
                <div class="row margin-top-ten">
                    <div class="col-sm-4 col-xs-5">
                        <span><strong>{{_('License number')}}:</strong></span>
                    </div>
                    <div class="col-sm-8 col-xs-7">
                        <span>{[{license.number}]}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-5">
                        <span><strong>{{_('License owner')}}:</strong></span>
                    </div>
                    <div class="col-sm-8 col-xs-7">
                        <span>{[{license.owner}]}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-5">
                        <span><strong>{{_('Performance')}}:</strong></span>
                    </div>
                    <div class="col-sm-8 col-xs-7">
                        {[{license.eps}]}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-5">
                        <span><strong>{{_('License expired')}}:</strong></span>
                    </div>
                    <div class="col-sm-8 col-xs-7">
                        <span>{[{license.expire}]}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-5">
                        <span><strong>{{_('Technical support')}}:</strong></span>
                    </div>
                    <div class="col-sm-8 col-xs-7">
                        <label><a href="mailto:support.siem@npo-echelon.ru" class="ng-binding">support.siem@npo-echelon.ru</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>