<div class="content-box box-shadow big-box">
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div>Время хранения:
				<span editable-number="rData.config.ttl_readonly" e-form="formTime" e-min="0" onbeforesave="saveTTLReadOnly($data)">
					{[{ rData.config.ttl_readonly || 'недоступно' }]}
				</span>
				<i style="cursor:pointer" class="fa fa-pencil"  ng-click="formTime.$show()" ng-hide="formTime.$visible"></i>
			</div>
			<div>Время хранения архива:
				<span editable-number="rData.config.ttl_archive" e-form="formArchieve" e-min="0" onbeforesave="saveTTLArchieve($data)">
					{[{ rData.config.ttl_archive || 'недоступно' }]}
				</span>
				<i style="cursor:pointer" class="fa fa-pencil"  ng-click="formArchieve.$show()" ng-hide="formArchieve.$visible"></i>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 text-right">
			<button type="button"
			        ng-disabled="!canCalcCh"
			        class="btn waves btn-labeled btn-label  waves-effect waves-float"
			        ng-click="calculate()">
				<span class="btn-label-rotations"><i class="fa fa-superscript"></i></span>{{_('Check')}}
			</button>
			<button type="button"
			        ng-disabled="!canArchieve"
			        class="btn waves btn-labeled btn-warning  waves-effect waves-float"
			        ng-click="archieve()">
				<span class="btn-label-rotations"><i class="fa fa-inbox"></i></span>{{_('Archieve')}}
			</button>
			<button type="button"
			        ng-disabled="!canSave"
			        class="btn waves btn-labeled btn-info waves-effect waves-float"
			        ng-click="save()">
				<span class="btn-label-rotations"><i class="fa fa-arrow-circle-o-up"></i></span>{{_('Save')}}
			</button>
			<button type="button"
			        ng-disabled="!canRestore"
			        class="btn waves btn-labeled btn-primary waves-effect waves-float"
			        ng-click="restore()">
				<span class="btn-label-rotations"><i class="fa fa-archive"></i></span>{{_('Restore')}}
			</button>
			<button type="button"
			        ng-disabled="!canDelete"
			        class="btn waves btn-labeled btn-danger  waves-effect waves-float"
			        ng-click="remove()">
				<span class="btn-label-rotations"><i class="fa fa-trash"></i></span>{{_('Delete')}}
			</button>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 email-container">
		<div class="inbox-body">

			<div class="table-responsive">
				<table st-table="someData" st-safe-src="displayedData"
				       class="table table-hover table-inbox"
				       style="border: none;">
					<thead>
						<tr>
							<th style="width: 1%;"  class="text-center">
								<div style="margin: 0;" class="checkbox checkbox-success">
									<label>
										<input type="checkbox"
										       class="mail-checkbox"
										       ng-model="chAll"
										       ng-click="toggleAll(chAll)">
										<i></i>
									</label>
								</div>
							</th>
							<th style="width: 1%;" ng-click="setOrderAndReload('r_id')">
								<span ng-class="(iconDesc === 'r_id' && reverse)?
								                'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"
								      ng-show="(iconDesc === 'r_id')">
								</span> {{_('Id')}}
							</th>
							<th style="width: 8%;" class="text-center" ng-click="setOrderAndReload('r_dt')">
								<span ng-class="(iconDesc === 'r_dt' && reverse)?
								                'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"
								      ng-show="(iconDesc === 'r_dt')">
								</span> {{_('Date')}}
							</th>
							<th style="width: 10%;" class="text-center" ng-click="setOrderAndReload('r_state')">
								<span ng-class="(iconDesc === 'r_state' && reverse)?
								                'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"
								      ng-show="(iconDesc === 'r_state')">
								</span> {{_('State')}}
							</th>
							<th style="width: 10%;" class="text-center" ng-click="setOrderAndReload('r_ch')">
								<span ng-class="(iconDesc === 'r_ch' && reverse)?
								                'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"
								      ng-show="(iconDesc === 'r_ch')">
								</span> {{_('Checksumm')}}
							</th>
							<th style="width: 1%;" class="text-left"></th>
							<th style="width: 100%;" class="text-center" ng-click="setOrderAndReload('r_note')">
								<span ng-class="(iconDesc === 'r_note' && reverse)?
								                'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"
								      ng-show="(iconDesc === 'r_note')">
								</span> {{_('Note')}}
							</th>

						</tr>

					</thead>
					<tbody  ng-hide="data.busy" class="exportable-result">
						<tr ng-repeat="row in someData | orderBy:iconDesc:reverse " class="row.priority alertRowLink">
							<td class="inbox-checkbox">
								<div class="checkbox checkbox-success">
									<label>
										<input type="checkbox"
										       class="mail-checkbox"
										       ng-model="row.ch"
										       ng-click="setupBlocks()">
										<i></i>
									</label>
								</div>
							</td>
							<td>{[{row.id}]}</td>
							<td class="text-center">{[{row.dt | date:'dd/MM/yyyy'}]}</td>
							<td class="text-center" ng-bind-html="getLabel(row.status)"></td>
							<td class="text-center">{[{row.checksum}]}</td>
							<td class="text-center" ng-bind-html="getChecksummLabel(row.inspect_result)"></td>
							<td class="text-left"
							    contentEditable="true"
							    ng-model="row.tmp_comment"
							    ng-change="setComment(row.id, row.tmp_comment)" ng-init="row.tmp_comment = row.comment">
									{[{row.comment}]}
							</td>
						</tr>
					</tbody>
					<tfoot ng-hide="data.busy">
					<tr>
						<td class="text-center" colspan="7">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"
							     st-template="pagination.custom.html"></div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
			<div ng-show="data.busy">
				<div class="text-center">
					<img src="{{ url_for('static', filename='img/335.gif') }}"
					     style="width: 16px; height: 16px">
					{{_('Loading...')}}
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/ng-template" id="pagination.custom.html">
	<nav ng-if="pages.length >= 1">
		<ul class="pagination">
			<li ng-class="{disabled:currentPage === 1}">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="(currentPage == 1)?disabled:selectPage(1)">{{_('First')}}</a>
			</li>
			<li ng-class="{disabled:currentPage === 1}">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="(currentPage == 1)?disabled:selectPage(currentPage - 1)">
					<i class="fa fa-chevron-left"></i>
				</a>
			</li>
			<li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
				<a ng-click="selectPage(page)"
				   class="ng-binding waves waves-button waves-effect waves-float">{[{page}]}</a>
			</li>
			<li class="animate-show"
			    ng-hide="(currentPage == numPages ||
			             currentPage == (numPages-1) ||
			             currentPage == (numPages-2) ||
			             currentPage == (numPages-3))?true:false">
				<a style="cursor: default">...</a>
			</li>
			<li class="animate-show"
			    ng-hide="(currentPage == numPages ||
			             currentPage == (numPages-1) ||
			             currentPage == (numPages-2)||
			             currentPage == (numPages-3))?true:false">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(numPages)">{[{numPages}]}</a>
			</li>
			<li ng-class="{disabled:currentPage === numPages}">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="(currentPage == numPages)?disabled:selectPage(currentPage + 1)">
					<i class="fa fa-chevron-right"></i>
				</a>
			</li>
			<li ng-class="{disabled:currentPage === numPages}">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="(currentPage == numPages)?disabled:selectPage(numPages)">{{_('Last')}}</a>
			</li>
		</ul>
	</nav>
</script>

<script type="text/ng-template" id="removeDialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление каталога</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить каталог?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger delOk" ng-click="remove()" type="button">Удалить</button>
	</div>
</script>
