<div class="tabbable panel with-nav-tabs panel-default" style="display: inline-table; width: 100%;">
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#/config/users-and-roles#users">{{_("Users")}}</a></li>
			<li><a data-toggle="tab" href="#/config/users-and-roles#roles">{{_("Roles")}}</a></li>
			<li><a data-toggle="tab" href="#/config/users-and-roles#groups">{{_("Groups")}}</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			{% include 'configuration/users_tabs/users.html' %}
			{% include 'configuration/users_tabs/roles.html' %}
			{% include 'configuration/users_tabs/groups.html' %}
		</div>
	</div>
</div>


{% include 'configuration/users_tabs/modals.html' %}