<layout-render data-main="alerts-main.html" data-left="alerts-left.html"></layout-render>

<script type="text/ng-template" id="pagination.custom.html">
	<nav ng-if="pages.length >= 1">
		<ul class="pagination">
			<li>
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(1)">{{_('First')}}</a>
			</li>
			<li>
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(currentPage - 1)">
					<i class="fa fa-chevron-left"></i>
				</a>
			</li>
			<li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
				<a ng-click="selectPage(page)"
				   class="ng-binding waves waves-button waves-effect waves-float">{[{page}]}</a>
			</li>
			<li class="animate-show"
			    ng-hide="(currentPage == numPages ||
            currentPage == (numPages-1) ||
            currentPage == (numPages-2))?true:false">
				<a style="cursor: default">...</a>
			</li>
			<li class="animate-show"
			    ng-hide="(currentPage == numPages ||
            currentPage == (numPages-1) ||
            currentPage == (numPages-2))?true:false">
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(numPages)">{[{numPages}]}</a>
			</li>
			<li>
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(currentPage + 1)">
					<i class="fa fa-chevron-right"></i>
				</a>
			</li>
			<li>
				<a class="waves waves-button waves-effect waves-float"
				   ng-click="selectPage(numPages)">{{_('Last')}}</a>
			</li>
		</ul>
	</nav>
</script>

<script type="text/ng-template" id="alerts-left.html">
	<div class="col-lg-12 komrd-ren-st">
		<div class="box">
			<div class="row" style="margin-top: 10px"
			     ng-hide="data.incStatBusy">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<div class="row">
						<div class="col-lg-12">
								<span class="status-danger">
									<span class="status fa fa-exclamation-circle"></span>
								</span>
							<span>{{_('Opened')}}</span>
						</div>
						<div class="col-lg-12">
								<span class="status-warning">
									<span class="status fa fa-clock-o"></span>
								</span>
							<span>{{_('Viewed')}}</span>
						</div>
						<div class="col-lg-12">
								<span class="status-checked">
									<span class="status fa fa-check-circle"></span>
								</span>
							<span>{{_('Closed')}}</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="row">
						<div class="col-lg-12 text-right" style="margin-top: 3px">
							<span>{[{incStat.opened}]}</span>
						</div>
						<div class="col-lg-12 text-right" style="margin-top: 3px">
							<span>{[{incStat.viewed}]}</span>
						</div>
						<div class="col-lg-12 text-right" style="margin-top: 3px">
							<span>{[{incStat.closed}]}</span>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="data.incStatBusy">
				<div class="text-center">
					<img src="{{ url_for('static', filename='img/335.gif') }}"
					     style="width: 16px; height: 16px">
					{{_('Loading...')}}
				</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-lg-12">
					<input type="text" class="form-control" placeholder="Поиск..."
					       ng-model="searchDrilldown">
				</div>
			</div>
			<table class="table table-hover table-striped"
			       style="padding: 10px;">
				<thead>
				<!--<tr>
					<th colspan="2">
						<input st-search="id"
							   class="form-control"
							   placeholder="{{_('Put name here ...')}}"
							   type="text"/>
					</th>
				</tr>-->
				<tr>
					<th  ng-click="sortType = 'ru_name'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'ru_name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
						<span ng-show="sortType == 'ru_name' && sortReverse" class="fa fa-sort-amount-desc"></span>
						{{_('directive UUID')}}
					</th>
					<th  ng-click="sortType = 'count'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'count' && !sortReverse" class="fa fa-sort-amount-asc"></span>
						<span ng-show="sortType == 'count' && sortReverse" class="fa fa-sort-amount-desc"></span>
						{{_('Count')}}
					</th>
				</tr>

				</thead>
				<tbody ng-hide="data.drilldownBusy">
				<tr ng-repeat="row in displayedDrilldown | orderBy:sortType:sortReverse | filter:searchDrilldown"
				    class="row.priority"
				    ng-click="setDrilldownFilter(row.id)" style="cursor:pointer;">
					<td>{[{ row.ru_name}]}</td>
					<td>{[{ row.count }]}</td>
				</tr>
				</tbody>
			</table>
			<div ng-show="data.drilldownBusy">
				<div class="text-center">
					<img src="{{ url_for('static', filename='img/335.gif') }}"
					     style="width: 16px; height: 16px">
					{{_('Loading...')}}
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="alerts-main.html">
	<div class="col-lg-12 col-md-12" style="padding-left: 0; padding-right:0;">
		<div class="content-box-no-hidden box-shadow big-box">
			<div class="row" style="margin-top: 10px; margin-left: 0; margin-right: 0">
				<div class="panel-group" id="accordion">
					<div id="query_builder" class="panel-collapse collapse in">
						<query-builder filters="filters"
						               setter="rules"
						               lang="lang"
						               plugins="plugins">
						</query-builder>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12"
				     style="border:None;">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="setQuery()">
							{{_('Search')}}
						</button>
					</div>

					<label style="padding-left:10px; font-size: 12px">
						<img src="{{ url_for('static', filename='img/335.gif') }}"
						     style="width: 16px; height: 16px"
						     ng-show="service.busy"> {[{service.message}]}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="content-box box-shadow big-box">
		<div class="col-lg-12 col-md-12 email-container">
			<!-- 				<div class="indox-head">
							</div> -->
			<div class="inbox-body">
				<div class="mail-option">
					<div class="check-all">
						<div class="checkbox checkbox-success pull-left">
							<label>
								<input type="checkbox"
								       class="mail-checkbox"
								       ng-click="toggleAll()">
								<i></i>
							</label>
						</div>
						<div class="btn-group">
							<a data-toggle="dropdown"
							   class="btn all"
							   aria-expanded="false">
								{{_('Mark as')}}
								<i class="fa fa-angle-down "></i>
							</a>
							<ul class="dropdown-menu">
								<li><a ng-click="setStates(0)">{{_('New')}}</a></li>
								<li><a ng-click="setStates(1)">{{_('Viewed')}}</a></li>
								<li><a ng-click="setStates(2)">{{_('Closed')}}</a></li>
							</ul>
						</div>
					</div>

					<div class="btn-group">
						<a data-original-title="Refresh"
						   data-placement="top"
						   data-toggle="dropdown"
						   class="btn refresh"
						   ng-click="refreshData()">
							<i class="fa fa-refresh"></i>
						</a>
					</div>

					<div class="pull-right">
						<a class="btn btn-default exportData"
						   ng-click="exportData('pdf')"
						   title="{{_('Make PDF')}}">
								<i class="fa fa-file-pdf-o" aria-hidden="true">
								</i>
						</a>
						<a class="btn btn-default exportData"
						   ng-click="exportData('csv')"
						   title="{{_('Export in CSV')}}">
								<i class="fa fa-table" aria-hidden="true">
								</i>
						</a>
						<button type="button"
						        class="btn waves btn-labeled btn-danger  waves-effect waves-float"
						        ng-click="deleteIncedents()">
							<span class="btn-label-rotations">
								<i class="fa fa-trash"></i>
							</span>
							{{_('Delete')}}
						</button>
					</div>
				</div>
				<correl-table preloaded-data="preloadData" service="service"></correl-table>
			</div>
		</div>
	</div>
</script>

<!-- 
<script type="text/ng-template" id="pagination.custom.html">
	<nav ng-if="pages.length >= 2">
		<ul class="pagination pagination">
			<li class="disabled">
				<a ng-click="selectPage(1)" class="waves waves-button waves-effect waves-float" aria-label="Prev">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li>
				<a ng-click="selectPage(currentPage - 1)" class="waves waves-button waves-effect waves-float">
					{[{selectPage(currentPage - 1)}]}
				</a>
			</li>
			<li>
				<a class="waves waves-button waves-effect waves-float">
					{[{selectPage(currentPage)}]}
				</a>
			</li>
			<li>
				<a ng-click="selectPage(currentPage + 1)" class="waves waves-button waves-effect waves-float">
					{[{selectPage(currentPage + 1)}]}
				</a>
			</li>
			<li>
				<a ng-click="selectPage(currentPage + 2)" class="waves waves-button waves-effect waves-float">
					{[{selectPage(currentPage + 2)}]}
				</a>
			</li>
			<li><span>...</span></li>
			<li>
			<a ng-click="selectPage(currentPage + 10)" class="waves waves-button waves-effect waves-float">
					{[{selectPage(currentPage + 10)}]}</a></li>
			<li>
			<a ng-click="selectPage(numPages)" class="waves waves-button waves-effect waves-float" aria-label="Next">
				<span aria-hidden="true">»</span>
			</a>
			</li>
		</ul>
	</nav>
</script>

 -->

<script type="text/ng-template" id="dialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление инцидента</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить инцидент?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger delOk" ng-click="remove()" type="button">Удалить</button>
	</div>
</script>