<div class="col-lg-3 col-md-4 hidden-print hidden-xs hidden-sm" style="padding-right:0!important">
	<div class="content-box ">
		<div class="green-bg content-title small-box i-block">
			<h4 class="zero-m" style="cursor:pointer;" ng-click="tFieldsclosed = !tFieldsclosed">Перечень директив:</h4>
		</div>
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button id="add-folder" value="Add Folder" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Добавить каталог">
					<span class="fa fa-folder-open" aria-hidden="true"></span>
				</button>
			</div>
			<div class="btn-group">
				<button id="add-directive" value="Remove Folder" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Добавить директиву">
					<span class="fa fa-file" aria-hidden="true"></span>
				</button>
			</div>
			<div class="btn-group">
				<button id="del-folder" value="Remove Folder" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Удалить">
					<span class="fa fa-trash" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="small-box" style="padding-top: 0px; padding-bottom: 0px;">
			<div id="directivesTree">
			</div>
		</div>
	</div>
</div>
<div id="disclaimer" class="col-lg-9 col-md-8" style="float:right;">
	<div class="content-box big-box">
        <blockquote>
       		<strong>Конструктор директив.</strong> Для начала работы, выберите директиву из списка слева, или создайте новую.
        </blockquote>
    </div>
</div>

<div style="width:100%; height:100%; position: relative;">
    <div id="loader-wheel" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
        <img src="{{url_for('static', filename='img/335.gif')}}" style="margin-left: 50%; margin-top:5%;">
    </div>
    <div id="constructor" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
    	<div>

    	</div>

        <div id="tabs" class="tabbable tabs-with-bg col-lg-9 col-md-8" style="float:right;">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a class="ui-tabs-anchor-fix" href="#tabs-1">
                        <span class="fa fa-align-left" aria-hidden="true"></span>
                            Конструктор
                    </a>
                </li>
                <li class>
                    <a class="ui-tabs-anchor-fix" href="#tabs-2">
                        <span class="fa fa-commenting" aria-hidden="true"></span>
                        Реакция
                    </a>
                </li>
                <!--li class>
                    <a class="ui-tabs-anchor-fix" href="#tabs-3">
                        <span class="fa fa-sticky-note" aria-hidden="true"></span>
                        Примечание
                    </a>
                </li-->

          		<input id="pause-resume-directive" class="input-sm form-control get-rules-button btn-primary" type="button" style="width:auto;" value=""4>

         		<input id="save-directive" class="input-sm form-control get-rules-button btn-primary" type="button" style="width:auto;" value="Сохранить директиву">
         		<input id="restore-button" class="input-sm form-control get-rules-button" type="button" style="width:auto;" value="Импорт...">
                <input id="get-rule-button" class="input-sm form-control get-rules-button" type="button" style="width:auto;" value="Экспорт...">
            </ul>
            <div class="tab-content">
                <div class="tab-pane big-box active in" id="tabs-1">
                    <div id="dir-con">

                    </div>
                </div>
                <div class="tab-pane big-box" id="tabs-2">
                    <form class="content-form form-horizontal">
                    <div class="form-group">
                             <label class="col-sm-2 control-label">Назначить на группу</label>
                             <div class="col-sm-10">
                                 <div id="assign" class="col-sm-10">
                                 </div>
                             </div>
                    </div>
                    </form>
                    <hr>
                    <div class="checkbox checkbox-danger">
                         <label>
                             <input type="checkbox" checked="" id="is_reaction_activated">
                             <i></i>
                             Реагировать на инцидент
                         </label>
                    </div>
                    <div id="reaction_ui_block">
                        <hr>
                        <div class="checkbox checkbox-danger">
                             <label>
                                 <input type="checkbox" checked="" id="is_mail_activated">
                                 <i></i>
                                 Оповещение по электронной почте
                             </label>
                        </div>
                        <form class="content-form form-horizontal">
                            <div class="form-group">
                                 <label class="col-sm-2 control-label">Email</label>
                                 <div class="col-sm-10">
                                     <input type="email" class="form-control material" id="email" placeholder="Адрес электронной почты">
                                 </div>
                                 <label class="col-sm-2 control-label">Тема</label>
                                 <div class="col-sm-10">
                                     <input class="form-control material" id="email_theme" placeholder="Тема письма">
                                 </div>
                            </div>
                            <div class="note-editing-area" id="email_body">
                                <div id="summernote_email_body"><p></p></div>
                            </div>
                        </form>
                        <hr>
                        <div class="checkbox checkbox-danger">
                             <label>
                                 <input type="checkbox" id="is_scripts_activated">
                                 <i></i>
                                 Выполнение сценария
                             </label>
                        </div>
                        <form class="content-form form-horizontal">
                            <div class="form-group">
                                 <label class="col-sm-2 control-label">Сценарий</label>
                                 <div class="col-sm-10">
                                     <textarea class="form-control material" id="scripts" placeholder="Идентификатор сценария (каждый на отдельной строке)"></textarea>
                                 </div>
                            </div>
                        </form>
                        <hr>
                        <div class="checkbox checkbox-danger">
                             <label>
                                 <input type="checkbox" disabled id="is_ext_services_activated">
                                 <i></i>
                                 Оповещение внешних сервисов
                             </label>
                        </div>
                        <!--div style="padding-left:40px!important">
                            <div>
                                <label>
                                    <input type="checkbox" disabled> Redmine
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" disabled> JIRA
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" disabled> YouTrack
                                </label>
                            </div>
                        </div-->
                    </div>
                </div>
                <div class="tab-pane big-box" id="tabs-3">
                    <div class="note-editing-area" id="editor-fix-panel">
                        <div id="summernote"><p></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    confirm_buttons = {
        'cancel': {
            label: 'Отмена'
        },
        'confirm': {
            label: 'Удалить',
	        className: 'btn-danger'
        }
    };

    create_buttons = {
	    'cancel': {
		    label: 'Отмена'
	    },
	    'confirm': {
		    label: 'OK',
		    className: 'btn-primary'
	    }
    };

    function show_loader(){
        $("#constructor").fadeOut(0);
        $("#loader-wheel").fadeIn(0);
    }

    function hide_loader(){
        $("#constructor").fadeIn(0);
        $("#loader-wheel").fadeOut(0);
    }

	$("#constructor").hide();
	$("#loader-wheel").hide();

    // сокрытие блока реакции
    $("#is_reaction_activated").change(function() {
        if(this.checked) {
            $("#reaction_ui_block").show()
        } else {
            $("#reaction_ui_block").hide()
        }
    });

    /*
        заменить на средства jsTree
    */
	var curr_directive_json = {};
    var curr_reaction = {};
	var curr_selected_node = "";

    var actually_selected_guid = '';

	function doREST(method, link, data, success_func, err_func){
        jQuery.ajax({
			type:method,
			url: link,
			contentType:'application/json',
			data: JSON.stringify(data),
			success: success_func,
            error: err_func
		});
	}

    /*
        перечень групп пользователей
    */
    $(function(){
    });

    function updateDirectiveBuilder(data, db_id, sel_id, parsed_data){
        if (data['data'] === '{}'){
         	$("#dir-con").directiveConstructor("clearAll", parsed_data);
		} else {
          	$("#dir-con").directiveConstructor("setDirective", parsed_data);
    	}
    	// запомнить последнюю выбранную директиву
		curr_directive_db_id = db_id;
		curr_directive_json = parsed_data;
		curr_selected_node = sel_id;

  	    jQuery("#constructor").show();
      	jQuery("#disclaimer").hide();
    }

    mail_script = 'send_mail.sh ';
    scripts_separator = ';^;';

    var pass_checking_for_first_dif = false;

	function updateTree(select_guid=null){
		// удалить старое дерево 
		var jsTree = $.jstree.reference('#directivesTree');
		if (jsTree)
			jsTree.destroy();

		// получить данные, и построить по ним новое дерево 
        doREST('GET', '/correl/jstree/' + select_guid, data=null, function(tree_data){
            jQuery("#directivesTree").jstree({
                core : {
                    multiple: false,
                    data: JSON.parse(tree_data)
                }
            });
        });

        if (select_guid != null)
            pass_checking_for_first_dif = true;

		// выбор другой директивы 
		$('#directivesTree').on('changed.jstree', function (e, data) {
            if (data['action'] === "ready")
                return;

			var sel_item = data.instance.get_node(data.selected);
			var sel_id = sel_item['id'];
			var db_id = sel_item['data']['id'];

			if (sel_item['data']['is_folder'] != 1){
                show_loader();
				jQuery.get('correl/dir/' + db_id, function(directive){
                    directive = JSON.parse(directive);
                    var parsed_data = JSON.parse(directive['data']);

                    /*
                        Обязательно проверить, не изменилась ли директива.
                    */
                    var temp_dir = $("#dir-con").directiveConstructor("getDirective");
                    var temp_reaction = getReaction(actually_selected_guid);

                    post_data={
                        'prev_sel_guid': actually_selected_guid,
                        'directive': JSON.stringify(temp_dir),
                        'reaction': JSON.stringify(temp_reaction),
                        'pass': pass_checking_for_first_dif
                    };

                    if (pass_checking_for_first_dif == true)
                        pass_checking_for_first_dif = false;

                    doREST('POST', '/correl/check_directive_for_changes', post_data,
                        function(data){ // не изменилась
                            actually_selected_guid = directive['uuid']

                            updateDirectiveBuilder(directive, db_id, sel_id, parsed_data);
                            updateReaction(directive);
                            updatePlayPauseButton(directive);

                            hide_loader();
                        },
                        function(xhr, status, error){   // изменилась
                            bootbox.confirm({
                                size:       'small',
                                title:      'Были внесены изменения',
                                message:    'Директива была изменена. Несохранённые изменения будут потеряны. Вы действительно хотите продолжить?',
                                /*buttons: {
                                   'cancel': {
                                       label: 'Отмена',
                                   },
                                   'confirm': {
                                       label: 'ОК',
                                   }
                                },*/
                                buttons: create_buttons,
                                callback: function (result) {
                                    if (result === false){
                                        // нужно вернуть предыдущий селект в дереве
                                        var tree = $("#directivesTree").jstree(true);
                                        tree.deselect_node(sel_id, true);
                                        tree.select_node(curr_selected_node, true);
                                    } else {
                                        actually_selected_guid = directive['uuid']

                                        updateDirectiveBuilder(directive, db_id, sel_id, parsed_data);
                                        updateReaction(directive);
                                        updatePlayPauseButton(directive);
                                    }
                                    hide_loader();
                                }
                            });
                        }
                    );
				});
			}
		})
	}

	/*
		Рекурсивный поиск директивы в дереве по её GUID.
	*/
	function recursSearch(node, guid){
		if (typeof(node) === "object"){
			if ("uuid" in node){
				if (node['uuid'] === guid)
					return node['id'];
			}
			for (var i in node){
				if (node[i]){
					var res = recursSearch(node[i], guid);
					if (res)
						if (typeof(res) !== "string")
							return node['id'] + ':' + res;
						else
							return res;
				}
			}
		}
	}

    function updateReaction(data){
        jQuery.get('/correl/reaction/' + data['uuid'],
            function(reaction){
                reaction = JSON.parse(reaction);
                setReaction(reaction);
                curr_reaction = reaction;
            }
        );
    }

    function updatePlayPauseButton(data){
        var uuid = actually_selected_guid;
        var data = {'uuid': uuid};

        jQuery.get('/correl/status/' + uuid,
            function(result){
                if (result === "Run"){
                    jQuery("#pause-resume-directive").val("Приостановить");
                } else if (result === "Pause") {
                    jQuery("#pause-resume-directive").val("Возобновить");
                }
            }
        );
    }

	function getIdByGuid(guid){
		var tree = $("#directivesTree").jstree(true);
		return recursSearch(tree.get_json(), guid);
	}

    function getReaction(uuid){
        var data = {};
        email_theme = jQuery('#email_theme').val()
        email_body = $('#summernote_email_body').summernote('code');

        data['id'] = uuid;
        data['status'] = +jQuery('#is_reaction_activated').prop('checked');
        data['mail_status'] = +jQuery('#is_mail_activated').prop('checked');
        data['scripts_status'] = +jQuery('#is_scripts_activated').prop('checked');
        data['ext_status'] = +jQuery('#is_ext_services_activated').prop('checked');
        data['scripts'] = mail_script + jQuery('#email').val() + ' "' + email_theme  + '" ' + "'" + email_body + "' " + scripts_separator + jQuery('#scripts').val().replace('\n', ';^;');
        data['ext_services'] = '';

        groups_assign = []
        $('#assign :selected').each(function (i, selected) {
            groups_assign[i] = $(selected).val();
        });

//        console.log(groups_assign);

        data['groups_assign'] = groups_assign.join(";");//$("#assign-select").selectize.getValue()

        if (data['mail_status'] ==  0){
            data['scripts'] = '_' + data['scripts']
        }

        return data
    }


    function setReaction(reaction){
        // назначение на группу
        console.log(reaction);
        doREST('GET', '/groups/all', {}, function(groups){
             var element_html = '<select id="assign-select" multiple class="modal-selectize">';
             groups = JSON.parse(groups);
             for (var i in groups) {
                 element_html = element_html.concat('<option value="' + groups[i]['id'] + '">' + groups[i]['name'] + '</option>');
             }
             element_html = element_html.concat('</select>');
             var selected = reaction['groups_assign'].split(';');
             $("#assign").empty();
             $("#assign").append(element_html);
             $("#assign-select").selectize({
                 create: false,
                 items: selected,
                 plugins: ['remove_button'],
                 delimiter: ';',
                 persist: false
             })
         });


        // галки
        jQuery('#is_reaction_activated').prop('checked', (reaction['status']===1)?true:false);
        jQuery('#is_reaction_activated').change();
        jQuery('#is_mail_activated').prop('checked', (reaction['mail_status']===1)?true:false);
        jQuery('#is_scripts_activated').prop('checked', (reaction['scripts_status']===1)?true:false);
        jQuery('#is_ext_services_activated').prop('checked', (reaction['ext_services']===1)?true:false);

        // вытащить почту
        scripts = reaction['scripts'];
        cut_len = 0;
        if (scripts.startsWith(mail_script)){
            cut_len = mail_script.length
        } else if (scripts.startsWith('_' + mail_script)){
            cut_len = mail_script.length + 1
        }

        if (cut_len > 0){
            mail = scripts.substring(cut_len);
            email = mail.substring(0, mail.indexOf(' '));
            jQuery('#email').val(email);

            mail = mail.substring(mail.indexOf(' ')+1);
            theme = mail.substring(1, mail.indexOf('" \''));
            jQuery('#email_theme').val(theme);

            mail = mail.substring(mail.indexOf('" \'') + '" \''.length);
            body = mail.substring(0, mail.indexOf("' " + scripts_separator));

            jQuery('#summernote_email_body').summernote('code', body);

            scripts = scripts.substring(scripts.indexOf(scripts_separator) + scripts_separator.length);
        } else {
            jQuery('#email').val('');
            jQuery('#email_theme').val('');
            jQuery('#summernote_email_body').summernote('code', '');
        }

        // вытащить скрипты
        jQuery('#scripts').val(scripts.replace(';^;', '\n'));
    }

	jQuery(function () {
		// сразу отрисовать дерево 
		updateTree();

		// добавить обработчик вкладок
		$('#tabs a').click(function (e) {
             e.preventDefault();
             $(this).tab('show');
        });

		// и редактор примечания
        $('#summernote, #summernote_email_body').summernote({
             height: 200,
             lang: 'ru-RU',
             placeholder: 'Введите примечание здесь...',
             dialogsInBody: true,
             onInit: function () {
                 $(this).parent('#editor-fix-panel').children('.note-editor').addClass('panel-primary');
             }
        });

        // кнопки работы с деревом директив
		jQuery('#add-folder').click(function(){
		    var precheck = $("#directivesTree").jstree(true).get_selected(true);
		    if (precheck.length == 0){
		        bootbox.alert('Выберите каталог');
		        return;
		    } else {
		       if (precheck[0]['data']['is_folder'] == 0){
		           bootbox.alert('Директивы не могут содержать подкаталоги или другие директивы');
		           return;
		       }
		    }
	    	bootbox.prompt({
			    title: "Введите имя нового каталога",
			    buttons: create_buttons,
		        callback: function (new_name) {
			    if (new_name !== null && new_name !== "") {
				    var selected = $("#directivesTree").jstree(true).get_selected(true);

				    var uuid = '';
				    if (selected.length !== 0)
					    uuid = selected[0]['data']['uuid'];

				    doREST('POST', '/correl/add_folder', { 'name': new_name, 'parent': uuid},
						    function(guid){
							    updateTree();
						    },
						    function(xhr, status, error){
							    if (xhr['status'] === 400){
							        console.log(xhr['responseText']);
							        if (xhr['responseText'] == "folder already exist")
    								    bootbox.alert('Имя каталога должно быть уникальным');
    								if (xhr['responseText'] == "parent isn't a directory")
       								    bootbox.alert('Директивы не могут содержать подкаталоги или другие директивы');

							    } 
						    }
				    );
			    } else {
				    bootbox.alert('Пустые имена не могут быть использованы');
			    }
		    }});
		});

		jQuery('#add-directive').click(function(){
            var precheck = $("#directivesTree").jstree(true).get_selected(true);
            if (precheck.length == 0){
                bootbox.alert('Выберите каталог');
                return;
            } else {
                if (precheck[0]['data']['is_folder'] == 0){
                    bootbox.alert('Директивы не могут содержать подкаталоги или другие директивы');
                    return;
                }
            }
			bootbox.prompt({
				title:"Введите имя новой директивы",
				buttons: create_buttons,
				callback: function (new_name) {
				if (new_name !== null && new_name !== "") {

					var selected = $("#directivesTree").jstree(true).get_selected(true);

					var uuid = '';
					if (selected.length !== 0)
						uuid = selected[0]['data']['uuid'];

					doREST('POST', '/correl/add_directive', { 'name': new_name, 'parent': uuid},
							function(guid){
    							show_loader();
								actually_selected_guid = guid;
								updateTree(guid);
							},
							function(xhr, status, error){
								if (xhr['status'] === 400){
								    if (xhr['responseText'] == 'parent is not folder')
    									bootbox.alert('Директивы не могут содержать подкаталоги или другие директивы');
    								if (xhr['responseText'] == 'directive already exist')
    									bootbox.alert('Директивы должны иметь уникальные имена');    								
								}
							}
					);
				} else {
					bootbox.alert('Пустые имена не могут быть использованы');
				}
			}});
		});

        jQuery('#del-folder').click(function(){
            var precheck = $("#directivesTree").jstree(true).get_selected(true);
            if (precheck.length == 0){
                bootbox.alert('Выберите директиву или каталог для удаления');
                return;
            }
			var selected = $("#directivesTree").jstree(true).get_selected(true);
			var type = selected[0]['data']['name'];
			if (selected[0]['children'].length > 0){
			    bootbox.alert('Удаление непустых каталогов запрещено.');
			    return;
			}

		    bootbox.confirm({
                size: 'small',
	            title: 'Удаление элемента',
	            message: 'Удалить элемент?',
	            buttons: confirm_buttons,
	            callback: function (result) {
	                if (result === true){
	                    /*
	                         Удаление директивы из модуля корелляции
                        */

               			for (var i in selected){
                			var id_to_del = selected[i]['data']['id'];
                			var uuid_to_del = selected[i]['data']['uuid'];
                		    doREST('DELETE', '/correl/dir', {id: id_to_del}, function(){updateTree();});
                            doREST('POST', '/correl/remove', {uuid: uuid_to_del});
                            actually_selected_guid = '';
            			}

            			/*
            			    Вернуть дисклеймер
            			*/
               	  	    jQuery("#constructor").hide();
                       	jQuery("#disclaimer").show();
	                }
	            }
            });
		});

		jQuery('#pause-resume-directive').click(function(){
            var uuid = actually_selected_guid;
            var data = {'uuid': uuid};

            jQuery.get('/correl/status/' + uuid,
                function(result){
                    var tree = $("#directivesTree").jstree(true);
                    var sel_id = getIdByGuid(uuid);
                    sel_id = sel_id.substring(0, sel_id.indexOf(':'));

                    if (result === "Run"){
                        doREST('POST', '/correl/pause', data, function(data){});
                        jQuery("#pause-resume-directive").val("Возобновить");
                        tree.set_icon(sel_id, "fa fa-pause")

                    } else if (result === "Pause") {
                        doREST('POST', '/correl/resume', data, function(data){});
                        jQuery("#pause-resume-directive").val("Приостановить");
                        tree.set_icon(sel_id, "fa fa-play")
                    }
                }
            );
		});



		jQuery('#save-directive').click(function(){
           	var arr = $("#dir-con").directiveConstructor("getDirective");
			/* Порядок сохранения:
				1 Загружаем ориганальную директиву
				2 Заменяем данные
				3 Отсылаем обратно
                4 Обновляем реакцию
			*/

			if (arr === false){
			    return;
			}

			jQuery.get('/correl/dir/' + curr_directive_db_id,
  		        function(item){
					item = JSON.parse(item);
					var data = {
						id: item['id'],
						breadcrumbs: item['breadcrumbs'],
						name: item['name'],
						ru_name: item['ru_name'],
						uuid: item['uuid'],
						data: JSON.stringify(arr),
                        status: item['status']
		    		};
		    		console.log('DATA: ' + JSON.stringify(data));
	    			doREST('PUT', '/correl/dir', data, function(data){});
	    			curr_directive_json = arr;


	    			// Отправка директивы на модуль корреляции
	    			doREST('POST', '/correl/save', data, function(data){});

                    // Обновление реакции
                    var data = getReaction(item['uuid']);
                    doREST('PUT', '/correl/reaction', data, function(data){});

                    bootbox.alert('Сохранение выполнено успешно')
    		    }
    		);
	   	});

		// Подгрузка полей QB с последующим созданием построителя директив
		filters_new = [];

      	jQuery.get(
        		"/fields/all",{},
		        function(data) {
				for (var i in data['data']){
                    var filtr = data['data'][i];
                    var f_node = {
						'id': filtr['name'],
						'label': filtr['label'],
						'operators': filtr['operators'],
						'type': filtr['type'],
						'data_type': filtr['data_type']
					};

                    date_format = 'DD/MM/YYYY H:mm:ss';

                    if (f_node['type'] == 'datetime'){
                        f_node['plugin'] = ['datetimepicker'],
                        f_node['plugin_config'] = {
                            format: date_format,
                            sideBySide:true,
                            locale:'ru',
                        },
                        f_node['valueSetter'] = function(rule, value) {
                            var element = rule.$el.find('.rule-value-container input');
                            if (rule.operator.type === 'between' || rule.operator.type === 'not_between'){
                                var values = [];
                                element.each(function(index){
                                    var new_value = moment.unix(rule.value[index]).format(date_format);
                                    values.push(new_value);
                                    $( this ).val(new_value);

                                    {# set events trigger, because after setter trigger change dont work
                                       for datetimepicker #}
                                    $( this ).on("change paste keyup blur", function() {
                                        element.change();
                                    });
                                })
                                return values;
                            }
                            var new_value = moment.unix(rule.value).format(date_format);
                            element.val(new_value);
                            element.on("change paste keyup blur", function() {
                                element.change();
                            });
                        },
                        f_node['valueGetter'] = function(rule) {
                            if (rule.operator.type === 'between' || rule.operator.type === 'not_between'){
                                var range = [];
                                rule.$el.find('.rule-value-container input').each(function(index){
                                    range.push(moment($( this ).val(), date_format).unix());
                                })
                                return range;
                            }
                            return moment(rule.$el.find('.rule-value-container input').val(),
                                        date_format).unix();
                        }
                    }

					filters_new.push(f_node);
				}

				jQuery('#dir-con').directiveConstructor(filters_new);
	        }
        );

        jQuery('#get-rule-button').click(function () {
             var arr = $("#dir-con").directiveConstructor("getDirective");
             bootbox.alert(JSON.stringify(arr));
        });

        jQuery('#restore-button').click(function () {
             bootbox.prompt("Введите сохранённую директиву", function (result) {
                 if (result === null) {

                 } else {
                      $("#dir-con").directiveConstructor("setDirective", JSON.parse(result));
                 }
             });
         });

    });
</script>
