<script type="text/ng-template" id="rubiconDataFrame.html">
	<div class="row">
		<div ivh-treeview="tree"
		     ivh-treeview-options="tree_options"
		>
		</div>
		<div class="col-lg-12">
			<b>Hexdump:</b>
		</div>
		<div class="col-lg-12">
			<div style='white-space: pre-wrap; background-color: #F9F9F9;
			            font-family: Menlo,Monaco,Consolas,"Courier New",monospace; word-wrap: break-word;'>{[{data.hexdump}]}
			</div>
		</div>
	</div>
</script>