@media print {
  page-break-before: always;
  #scores table tr td, #scores table tr th {
    page-break-inside: avoid !important;
  }

  table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
  }
}

div {
    display: block;
}

.starter-logo {
    height: 20mm;
    width: 100%;
}
.starter-title {
    height: 287mm;
    width: 100%;
}
.starter-date {
    height: 20mm;
    width: 100%;
}

.btn-group.pull-right.group-actions {
    display: none;
}

.btn-group.pull-right.rule-actions {
    display: none;
}

.query-builder .rule-container select, .query-builder .rule-container input[type=text], .query-builder .rule-container input[type=number] {
  padding: 1px;
  -webkit-appearance: none;
  /*border: none;*/
}

label.btn.btn-xs.btn-primary {
    display: none;
}

label.btn.btn-xs.btn-primary.active {
    display: block;
}

.query-builder .rule-container .rule-value-container {
    width: 100mm;
}