<!-- START SIGMA IMPORTS -->
<script src="{{url_for('static', filename='bower_components/sigma/src/sigma.core.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/conrad.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/utils/sigma.utils.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/utils/sigma.polyfills.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/sigma.settings.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.dispatcher.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.configurable.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.graph.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.camera.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.quad.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/classes/sigma.classes.edgequad.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/captors/sigma.captors.mouse.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/captors/sigma.captors.touch.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/sigma.renderers.canvas.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/sigma.renderers.webgl.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/sigma.renderers.svg.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/sigma.renderers.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/webgl/sigma.webgl.edges.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.labels.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edges.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.utils.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.nodes.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.edges.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.edges.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.labels.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/renderers/svg/sigma.svg.hovers.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/middlewares/sigma.middlewares.rescale.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/middlewares/sigma.middlewares.copy.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/misc/sigma.misc.animation.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/misc/sigma.misc.bindEvents.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/misc/sigma.misc.bindDOMEvents.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/src/misc/sigma.misc.drawHovers.js')}}"></script>
<!-- END SIGMA IMPORTS -->


<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dashed.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.parallel.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.tapered.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dashed.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dotted.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.parallel.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.tapered.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.parallelEdges/utils.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.edgeLabels/settings.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.layout.forceAtlas2/worker.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.layout.forceAtlas2/supervisor.js')}}"></script>

<!--script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.layout.noverlap/sigma.layout.noverlap.js')}}"></script--> 
<!--script src="{{url_for('static', filename='bower_components/sigma/src/sigma.require.js')}}"></script-->
<script src="{{url_for('static', filename='js/events-visualizer/js/events-vizualizer.js')}}"></script>

<!--script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.layout.forceAtlas2.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.parsers.gexf.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.parsers.json.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.plugins.animate.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.plugins.dragNodes.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.plugins.filter.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.plugins.neighborhoods.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customEdgeShapes.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.customShapes.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.renderers.edgeLabels.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sigma/plugins/sigma.statistics.HITS.min.js')}}"></script-->

<script src="{{url_for('static', filename='bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script> 

<link rel="stylesheet" href="{{url_for('static', filename='bower_components/ion.rangeSlider/css/ion.rangeSlider.css')}}">

<div>
	<div class="content-box big-box">
		<blockquote>
			<strong>Временной отрезок:</strong>
		</blockquote>
		<div>
			<input type="text" id="time-range" value="">
		</div>
	</div>

	<!-- загрузочная заглушка-->
	<div id="loader-wheel" class="content-box big-box" style="height: 550px;">
		<img src="{{url_for('static', filename='img/335.gif')}}" style="margin-left: 50%; margin-top:12%;">
	</div>	

	<div id="graph-window" class="content-box big-box" style="height: 550px;">
		<div id="container">
        	    <style>
	                #ev-vis {
	                    top: 0;
	                    bottom: 0;
	                    left: 0;
	                    right: 0;
	                    position: absolute;
	                }
	            </style>
   	    		<div id="ev-vis"></div>	
	    </div>
	</div>
	
	<div class="content-box big-box">
		<div>
			<div style="display: inline-block;">
				<blockquote>
					<strong>Фильтр визуализируемых событий:</strong>
				</blockquote>
			</div>
			<div style="display: inline-block; float: right;">
				<input id="refresh-button" class="form-control btn btn-primary" type="button" value="Обновить"></input>
			</div>
		</div>
		<div id="src-dst">
		    <form class="content-form form-horizontal">
		        <div class="form-group">
		            <label style="padding-left: 40px!important;" class="control-label">Загрузить запрос</label>
                    <div id="saved-request" style="display: inline-block!important;"></div>
		            <label style="padding-left: 40px!important;" class="control-label">Поле источника</label>
		            <div id="src-field" style="display: inline-block!important;"></div>
		            <label style="padding-left: 40px!important;">Поле назначения</label>
		            <div id="dst-field" style="display: inline-block!important;"></div>
  		            <label class="control-label" style="padding-left: 40px!important;">Задействовать результатов</label>
  		            <input id="res-count" class="form-control" type="text" value="100" style="width:auto; display: inline-block!important;">
		        </div>
		    </form>
		</div>
		<div id="qb-filter">
		</div>
	</div>
</div>
<script type="text/javascript">
    var queries = {};


$(function(){
	f_src = 'ip_src';
    f_dst = 'ip_dst';
    var data_r = {"query_body":{"condition":"AND","rules":[{"id":"ip_src","field":"ip_src","type":"string","input":"text","operator":"is_not_null","value":null},{"id":"ip_dst","field":"ip_dst","type":"string","input":"text","operator":"is_not_null","value":null}]},"page":1, "sort_by":"event_id", "sort_reverse": false};
    if (window.location.href.endsWith('#1')){
		data_r = {"query_body":{"condition":"AND","rules":[{"id":"geo_src_city","field":"geo_src_city","type":"string","input":"text","operator":"is_not_null","value":null},{"id":"http_request_url","field":"http_request_url","type":"string","input":"text","operator":"is_not_null","value":null},{"id":"http_request_url","field":"http_request_url","type":"string","input":"text","operator":"contains","value":"admin"},{"id":"geo_src_country_name","field":"geo_src_country_name","type":"string","input":"text","operator":"equal","value":"United States"},{"id":"geo_src_city","field":"geo_src_city","type":"string","input":"text","operator":"not_equal","value":"Scottsdale"}]},"page":1, "sort_by":"event_id", "sort_reverse": false}
   	    f_src = 'geo_src_city';
        f_dst = 'http_request_url';
        jQuery('#src-field option[value="' + f_src + '"]').prop("selected", true);
        jQuery('#dst-field option[value="' + f_dst + '"]').prop("selected", true);
    }

	// скрыть график пока не подгрузится 
        jQuery('#loader-wheel').hide();
	
	// инициализирующие рамки не имеют значения
	jQuery('#time-range').ionRangeSlider({
		type: 'double',
		min: 0,
		max: 1,
		from: 0, 
		to: 1,
		force_edges: true,
		values_separator: " - ",
		grid: true,
		prettify: function (num) {
		        var m = moment(num, "X").locale("ru");
		        return m.format("Do MMMM YYYY, HH:mm:ss");
		},
		onChange: function (data) {
			var from = data['from'];
			var to = data['to'];

			jQuery('#ev-vis').eventsVisualizer('time-range', {'from': from, 'to': to});
		}
	})

	var filters_new = [];
	var fields = [];
	jQuery.get(
        "/fields/all",{},
        function(data) {
            for (var i in data['data']){
                 var filtr = data['data'][i];
                 var f_node = {
                     'id': filtr['name'],
                     'label': filtr['label'],
                     'operators': filtr['operators'],
                     'type': filtr['type'],
                     'data_type': filtr['data_type']
                 };
                 filters_new.push(f_node);
            }
			jQuery('#qb-filter').queryBuilder({filters:filters_new, plugins: ['mapping2', 'sortable', 'list_search', 'datetimepicker']});
			
			jQuery('#qb-filter').on('afterCreateRuleInput.queryBuilder', function(e, rule) {
	            if (rule.filter.id === 'timestamp_event' ||
                   rule.filter.id === 'timestamp') {
                   var $input = rule.$el.find('.rule-value-container [name*=_value_]');
                   $input.on('dp.change', function() {
                      $input.trigger('change');
                   });
                }
            });
			
			jQuery('#qb-filter').queryBuilder('setRules', data_r['query_body']);
			
			var sel = '<select onchange="loadQuery(this.value4)" class="form-control" id="src-field" style="width:auto;">';
			for (var i in filters_new){
			    var filter = filters_new[i];
			    sel = sel.concat('<option value="' + filter['id']+ '">' + filter['label'] + '</option>');
			}
			sel = sel.concat('</select>');
						
			jQuery('#src-field').append(sel);
			jQuery('#dst-field').append(sel);					
			
			jQuery('#src-field option[value="' + f_src + '"]').prop("selected", true);			
			jQuery('#dst-field option[value="' + f_dst + '"]').prop("selected", true);			
        }
    );

    
    jQuery.get(
        "/querylist/all", {}, function(data){
            queries["undefined"] = { "name": "", "body":"" }
            jQuery('#dst-field option[value="' + f_dst + '"]').prop("selected", true);
            for (var i in data['response']){
                var query = {
                    "id" :  data['response'][i]['id'],
                    "name": data['response'][i]['name'],
                    "body": data['response'][i]['body']
                };

                queries[ data['response'][i]['id'].toString() ] = query;
            }
            
            var sel = '<select onchange="loadQuery(this.value);" class="form-control" id="saved-req-field" style="width:auto;">';
            for (var i in queries){
                var query = queries[i];
                sel = sel.concat('<option value="' + query['id']+ '">' + query['name'] + '</option>');
            }
            sel = sel.concat('</select>');
            jQuery('#saved-request').append(sel);
            jQuery('#saved-req-field option[value="undefined"]').prop("selected", true);
        }
    );


	
	jQuery('#refresh-button').click(function(){
	    var results = jQuery('#res-count').val(); 
	
		var data_qb = jQuery('#qb-filter').queryBuilder('getRules');
  		var data_upd = {
       		'query_body': data_qb,
	    	'page': 1
    	};  
			
		var src = jQuery('#src-field').find('select').val();
		var dst = jQuery('#dst-field').find('select').val();
		
		jQuery('#ev-vis').eventsVisualizer('kill');
		setVisualizer(data_upd, src, dst, results);
	})

	setVisualizer(data_r, f_src, f_dst, 100);
	
});

function loadQuery(id){
    console.log("id: " + id);
    console.log(id);
    if (id == "undefined")
        return;
    var query = queries[id.toString()];
    jQuery('#qb-filter').queryBuilder('setRules', JSON.parse(query['body']));
}


function setVisualizer(data_r, src, dst, results){
	// заменить граф на загрузочный экран
	jQuery('#loader-wheel').slideToggle(0);
	jQuery('#graph-window').slideToggle(0);

    var pages = Math.floor(results / 100);
    if (results % 100 > 0)
        pages += 1;
       
    var viz_data = {
	    src_field: src,
	    dst_field: dst,
	    data: [],
	    i: 0
	}			

    for (var i = 1; i <= pages; i++){
        data_r['page'] = i;
        data_r['sort_by'] = "event_id"
        data_r['sort_reverse'] = false
    
    	jQuery.ajax("/fullrequest", {
    		data: JSON.stringify(data_r),
    		contentType : 'application/json',
    		type: 'POST',
    		success: function(data){
    		    // загрузили всё что надо 
   		        viz_data['data'].push.apply(viz_data['data'], data['results']);
   		        viz_data['i'] = viz_data['i'] + 1;
    		    if (viz_data['i'] === pages){    		    
                    if (viz_data['data'].length > results)
        		        viz_data['data'].length = results;
        		     
        		    jQuery('#loader-wheel').slideToggle(0);
                	jQuery('#graph-window').slideToggle(0);
        		        
        		    // требуется не только обновить граф...
     			    jQuery('#ev-vis').eventsVisualizer(viz_data);
     
    	    		// ... но и временные рамки
	    	    	var slider = jQuery('#time-range').data("ionRangeSlider");
        
	        		if (data['total'] > 0){
		        		var lst_ev = viz_data['data'][0];
			    	    var fst_ev = viz_data['data'][viz_data['data'].length - 1];

        				slider.update({
	        				max: parseInt(fst_ev['event_id']),
		        			min: parseInt(lst_ev['event_id']),
			        		to:  parseInt(fst_ev['event_id']),
				        	from: parseInt(lst_ev['event_id'])
    				    });
    	    		}
       		    }
    		}
    	});
    }
}
</script>
