<div class="col-lg-12">
	<div class="content-box big-box" >
		<table st-table="displayedData" st-safe-src="data.items" class="table table-hover">
			<thead>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="{{_('Search...')}}" type="text"/></th>
			</tr>
			<tr>
				<th st-sort="id" class="col-lg-1">{{_('Id')}}</th>
				<th st-sort="name" class="col-lg-2">{{_('name')}}</th>
				<th st-sort="description" class="col-lg-6">{{_('description')}}</th>
				<th st-sort="created" class="col-lg-2">{{_('created')}}</th>
				<th class="col-lg-1 text-center"></th>
			</tr>

			</thead>
			<tbody>
			<tr ng-repeat="row in displayedData">
				<td>{[{row.id}]}</td>
				<td>{[{row.readableName}]}</td>
				<td>{[{row.description}]}</td>
				<td>{[{row.created | date:'HH:mm:ss dd-MM-yyyy' }]}</td>
				<td class="text-center">
					<a ui-sref="search({queryId: row.id})"
					   class="btn btn-default btn-xs">
						<span class="fa fa-pencil"></span>
					</a>
					<a ng-click="removeQuery(row)"
					   class="btn btn-xs btn-danger">
						<span class="fa fa-trash"></span>
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/ng-template" id="dialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление запроса</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить запрос?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger delOk" ng-click="remove()" type="button">Удалить</button>
	</div>
</script>