<layout-render data-main="realtime-main.html" data-left="realtime-left.html"></layout-render>

<script type="text/ng-template" id="realtimeSettings.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-if="!old_settings">
			{{_('Realtime updater parameters')}}
		</h3>
	</div>
	<div class="modal-body">
		<form class="content-form form-horizontal">
			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.maxListSize.$invalid && form.maxListSize.$dirty}">
				<label class="col-lg-3 col-md-4 col-sm-6 control-label">{{_('Table size')}}*</label>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<input class="form-control material" type="number" name="maxListSize"
					       ng-model="max_list_size"
					       min="1">
					<div class="val-error"
					     ng-show="form.maxListSize.$invalid && form.maxListSize.$dirty">
						<ul>
							<li ng-show="form.maxListSize.$error.min">{{_('minimum value is 1')}}
							</li>
							<li ng-show="form.maxListSize.$error.max">{{_('maximum value is
								500')}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok(max_list_size)">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>


</script>

<script type="text/ng-template" id="realtime-left.html">
	<div class="l">
		<button id="StartStopButton" type="button"
		        class="btn waves btn-primary btn-lg btn-block blue-bg"
		        ng-click="pauseUnpause()">
			<span ng-hide="paused" class="blue-bg fa fa-stop"></span>
			<span ng-show="paused" class="blue-bg fa fa-play"></span>
			{[{main_button}]}
		</button>
		<div class="content-box">
			<div class="green-bg content-title small-box i-block">
				<h4 class="zero-m" style="cursor:pointer;" ng-click="tFieldsclosed = !tFieldsclosed">{{_('Table fields')}}</h4>
				<i class="pull-right glyphicon" style="cursor:pointer;" ng-click="tFieldsclosed = !tFieldsclosed"
				   ng-class="{'glyphicon-chevron-down': !tFieldsclosed, 'glyphicon-chevron-right': tFieldsclosed}"></i>
			</div>
			<div class="small-box" style="padding-top: 0px; padding-bottom: 0px;">
				{% for item in fields %}
				<div class="checkbox checkbox-danger" ng-hide="tFieldsclosed && !{{item.name}}">
					<label>
						<input type="checkbox" ng-model="{{item.name}}" ng-click="fieldViewSwitcher('{{item.name}}')">
						<i></i>
						{{item.label}}
					</label>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="realtime-main.html">
	<div class="col-lg-12 col-md-12">
		<div class="content-box big-box">
			<div class="content-title big-box i-block text-center" style="padding:initial;">
				<h4 class="zero-m text-center" style="float:none;">{{_('Real time Events')}}</h4>
				<div class="content-tools i-block pull-right on-white">
					<a class="close-btn on-white" ng-click="openSettings()">
						<i class="fa fa-cog"></i>
					</a>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<highchart id="chart1" config="chartConfig"></highchart>
					</div>
				</div>
			</div>
			<!-- 			<uib-accordion >
							<uib-accordion-group is-open="status.open">
								<uib-accordion-heading>
									{{_('Settings')}}
									<i class="pull-right glyphicon"
									   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
								</uib-accordion-heading>
								<div class="row">
									<div class="form-group col-lg-6 col-md-6 col-sm-12"
										 ng-class="{'form-group': true, 'has-error':form.delay.$invalid && form.delay.$dirty}">
										<label class="col-lg-3 col-md-3 col-sm-6 control-label">{{_('Time delay')}}*</label>
										<div class="col-lg-4 col-md-4 col-sm-6">
											<input  class="form-control material" type="number" name="delay"
													ng-change="changeDelay(update_period)"
													min="1" max="500" ng-model="update_period">
											<div class="val-error animate-show"
												 ng-show="form.delay.$invalid && form.delay.$dirty" >
												<ul>
													<li ng-show="form.delay.$error.min">minimum value is 1</li>
													<li ng-show="form.delay.$error.max">maximum value is 500</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="form-group col-lg-6 col-md-6 col-sm-12"
										 ng-class="{'form-group': true, 'has-error':form.maxListSize.$invalid && form.maxListSize.$dirty}">
										<label class="col-lg-3 col-md-4 col-sm-6 control-label">{{_('Table size')}}*</label>
										<div class="col-lg-4 col-md-4 col-sm-6">
											<input  class="form-control material" type="number" name="maxListSize"
													ng-change="changeTableSize(max_list_size)"
													min="1" max="500" ng-model="max_list_size">
											<div class="val-error animate-show"
												 ng-show="form.maxListSize.$invalid && form.maxListSize.$dirty" >
												<ul>
													<li ng-show="form.maxListSize.$error.min">minimum value is 1</li>
													<li ng-show="form.maxListSize.$error.max">maximum value is 500</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</uib-accordion-group>
						</uib-accordion> -->
			<div data-double-scroll-bar-horizontal>
				<table class="table table-hover table-striped"
				       st-table="events_list">
					<thead>
					<tr>
						{% for value in fields %}
						<th ng-show="{{value.name}}"
						    {% if value.name == "event_id" %}
						class="col-md-1"
						{% endif %}
						>{{ value.label }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="row in events_list"
					    ng-click="openEvent(row.event_id)"
					    style="cursor:pointer;">
						{% for value in fields %}
						{% if value.type == 'datetime' %}
						<td ng-show="{{value.name}}" >{[{ row.{{value.name}} * 1000 | date:'dd/MM/yyyy HH:mm:ss' }]}</td>
						{% elif value.name == 'wmi_Message' %}
						<td ng-show="{{value.name}}">
							<div class="wmi-message">
								{[{ row.{{value.name}} }]}
							</div>
						</td>
						{% else %}
						<td ng-show="{{value.name}}" >{[{ row.{{value.name}} }]}</td>
						{% endif %}
						{% endfor %}
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</script>