<layout-render data-main="search-main.html" data-left="search-left.html"></layout-render>

<script json-data ng-model="dataTmp" type="application/json">{{
	query_data
	|
	tojson
	|
	safe
}}</script>

<script type="text/ng-template" id="saveQueryDialog.html">
	<div class="on-white modal-header">
		<div class="text-left">
			<h4 class="modal-title">Сохранение запроса</h4>
		</div>
	</div>
	<div class="modal-body">
		<form class="content-form form-horizontal">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{_('Query Name')}}</label>
				<div class="col-lg-9">
					<input class="form-control material" placeholder="{{_('New query name')}}"
					       ng-model="query_name">
				</div>
			</div>
		</form>
		<form class="content-form form-horizontal">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{_('Description')}}</label>
				<div class="col-lg-9">
					<input class="form-control material" placeholder="{{_('some text')}}"
					       ng-model="query_description">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">отмена
		</button>
		<button class="btn btn-primary delOk" ng-click="saveQuery()" type="button">Ok</button>
	</div>
</script>

<script type="text/ng-template" id="deleteQueryDialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление запроса</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить запрос?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger resOk" ng-click="restore()" type="button">Удалить</button>
	</div>
</script>

<script type="text/ng-template" id="search-main.html">
	<div style="min-width: 100%">
		<div class="col-lg-12 col-md-12" style="padding-left: 0; padding-right:0;">
			<div class="content-box-no-hidden box-shadow big-box">
				<div class="row" style="margin-left: 0; margin-right: 0">
					<div class="form-group" style="height: 20px; padding: 0">
						<label class="col-lg-2 col-md-2 col-sm-4 control-label"
						       style="padding-left: 0; padding-right:0;">{{_('Load query')}}</label>
						<div class="col-lg-10 col-md-10 col-sm-8"
						     style="padding-left: 0; padding-right:0;">
							<div class="input-group">
								<input-dropdown style="width:100%;" selected-item="queryObject"
								                default-dropdown-items="dropdown"
								                allow-custom-input="true"
								                filter-list-method="filterObjectList(userInput)"
								                item-selected-method="callbackQuery(item)"></input-dropdown>
								<span class="input-group-btn">
									<button class="btn btn-default inverted-danger btn-xs" type="button"
											ng-click="deleteQuery()">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px; margin-left: 0; margin-right: 0">
					<div class="panel-group" id="accordion">
						<query-builder filters="qbFilters"
						               lang="qbLanguage"
						               plugins="qbPlugins">
						</query-builder>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12"
					     style="border:None;">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" ng-click="setQuery()">
								{{_('Search')}}
							</button>
							<button type="button" class="btn btn-default" ng-click="saveQB()">
								{{_('Save')}}
							</button>
						</div>

						<label style="padding-left:10px; font-size: 12px">
							<img src="{{ url_for('static', filename='img/335.gif') }}"
							     style="width: 16px; height: 16px"
							     ng-show="content.page == 1 && content.busy"> {[{content.message}]}</label>
						<i class="fa fa-calendar" style="padding-left:10px;"
						   ng-show="(rangeMin === 0)?false:true"></i>
						<label style="padding-left:10px; font-size: 12px"
						       ng-show="(rangeMin == 0)?false:true">{[{minDate}]}</label>
						<label style="padding-left:10px; font-size: 12px"
						       ng-show="(rangeMax == 0)?false:true">{[{maxDate}]}</label>
						<button class="btn btn-default inverted-danger btn-xs" type="button"
						        ng-show="(rangeMin === 0)?false:true"
						        ng-click="rangeReset()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<div class="form-group pull-right">
							<select class="btn waves btn-default
                                dropdown-toggle waves-effect waves-float dataTypeSelect"
							        ng-options="item.label for item in data_items track by item.id"
							        name="dataType"
							        ng-model="data_items.selectedOption">
								<option value="">группировать по полю</option>
							</select>
							<!--<span ng-show="!showGraphConfirm"-->
							<!--class="glyphicon glyphicon-remove form-control-feedback"  style="color:red"></span>-->
						</div>
					</div>
				</div>
				<div class="timeRange" ng-show="rangeFlag">
					<highchart config="rangeChart" class="chart"
					           style="height:150px; width:100%"></highchart>
				</div>
			</div>
		</div>
	</div>
	<div infinite-scroll="content.nextPage()" infinite-scroll-distance="1"
	     infinite-scroll-disabled='content.has_error || content.busy || emptyTable'
	     infinite-scroll-container='".ui-layout-center"'
	     class="content-box box-shadow big-box">
		<div class="col-lg-12 col-md-12">
			<span class="pull-right button-group">
						<button type="button" class="btn btn-default exportData"
						        ng-click="exportData()" title="Экспорт в CSV">
							<span class="fa fa-table" aria-hidden="true"></span>
						</button>
					</span>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="event-grouping-table animate-show" ng-show="sortFlag">
						<table class="table table-hover table-striped">
							<thead>
							<tr>
								<th>{[{messageTypeHeader}]}</th>
								<th ng-click="sortType = 'count'; sortReverse = !sortReverse">
									<span ng-show="sortType == 'count' && !sortReverse" class="fa fa-sort-amount-asc"></span>
									<span ng-show="sortType == 'count' && sortReverse" class="fa fa-sort-amount-desc"></span>
									Количество
								</th>
								<!--<th>Дата последнего события</th>-->
								<th>График</th>
							</tr>
							</thead>
							<tbody ng-hide="sorted_content.has_error || sorted_content.busy">
							<tr ng-repeat="data in sortedData | orderBy:sortType:sortReverse" ng-click="getAllRowInfo(data)"
							    style="cursor:pointer;">
								<td>{[{data.message_type}]}</td>
								<td>{[{data.count}]}</td>
								<!--<td></td>-->
								<td>
									<div class="col-lg-11 col-md-11 col-sm-11">
										<highchart config="data.chart" class="chart"></highchart>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div ng-show="sorted_content.has_error">
						<div class="text-center">
							<span>{[{sorted_content.message}]}</span>
						</div>
					</div>
					<div data-double-scroll-bar-horizontal>
						<table class="table table-hover table-striped exportable-result"
						       st-table="events_list" ng-show="fullReq">
							<thead>
							<tr>
								{% for value in fields %}
								<th ng-show="{{value.name}}"
								    ng-click="setOrderAndReload('{{value.name}}')"
								    {% if value.name==
								"event_id" %}
								{% endif %}
								><span ng-class="(iconDesc === '{{value.name}}' && reverse)?
										'fa fa-sort-amount-desc' : 'fa fa-sort-amount-asc'"
								       ng-show="(iconDesc === '{{value.name}}')">
						</span>
								{{ value.label }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in content.items" ng-click="open(row.event_id)"
							    style="cursor:pointer; overflow-x: visible;">
								{% for value in fields %}
								{% if value.type == 'datetime' %}
								<td ng-show="{{value.name}}">{[{ row.{{value.name}} * 1000 || '' |
									date:'dd/MM/yyyy HH:mm:ss' }]}
								</td>
								{% elif value.name == 'wmi_Message' %}
								<td ng-show="{{value.name}}">
									<div class="wmi-message">
										{[{ row.{{value.name}} }]}
									</div>
								</td>
								{% elif value.id == 1 %}
								<td ng-show="{{value.name}}" data-toggle="tooltip"
								    data-placement="right" title="{[{ row.{{value.name}} }]}">
									{[{ row.{{value.name}} | limitTo:
									9}]}{[{row.{{value.name}}.length > 9 ?
									'...' : ''}]}
								</td>
								{% else %}
								<td ng-show="{{value.name}}">{[{ row.{{value.name}} }]}</td>
								{% endif %}
								{% endfor %}
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div ng-show="content.busy || sorted_content.busy">
				<div class="text-center">
					<img src="{{ url_for('static', filename='img/335.gif') }}"
					     style="width: 16px; height: 16px">
					{{_('Loading...')}}
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="search-left.html">
	<div class="komrd-ren-st">
		<div class="green-bg content-title small-box i-block">
			<h4 class="zero-m" style="cursor:pointer;" ng-click="tFieldsclosed = !tFieldsclosed">{{_('Table fields')}}</h4>
			<i class="pull-right glyphicon" style="cursor:pointer;" ng-click="tFieldsclosed = !tFieldsclosed"
			   ng-class="{'glyphicon-chevron-down': !tFieldsclosed, 'glyphicon-chevron-right': tFieldsclosed}"></i>
		</div>
		<div class="small-box" style="padding-top: 0px; padding-bottom: 0px;">
			{% for item in fields %}
			<div class="checkbox checkbox-danger" ng-hide="tFieldsclosed && !{{item.name}}">
				<label>
					<input type="checkbox" ng-model="{{item.name}}"
					       ng-click="fieldViewSwitcher('{{item.name}}')">
					<i></i>
					{{item.label}}
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
</script>

