{% extends "layouts/base.html" %}

{% block html_attribs %}
	{{super()}}
{% endblock %}

{% block title %}Echelon | Login{% endblock %}

{% block head %}
	{{super()}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no" />
{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('static', filename='bower_components/html5shiv/dist/html5shiv.min.js')}}"></script>
	<script src="{{url_for('static', filename='bower_components/respondJs/dest/respond.src.js')}}"></script>
	<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bower_components/Waves/dist/waves.min.js')}}"></script>
	<script>
		//Waves effect on buttons
		Waves.attach('.waves', ['waves-float']);
		Waves.init();
	</script>
{% endblock %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/Waves/dist/waves.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block body %}
	{{super()}}
	<div class="table-wrapper">
		<div class="table-row">
			<div class="table-cell text-center">
				<div class="login i-block">
					<div class="content-box">
						<div class="light-blue-bg biggest-box">
							<h1 class="zero-m text-uppercase">
							<image src="{{url_for('static', filename='img/Komrad-html-white.svg')}}"
							       width="108" height="108"  style="margin-top: -10px;"/>
								<b>{{_('Komrad')}}</b></h1>
						</div>
						<div class="big-box text-left login-form">
							<h4 class="text-center">{{_('Login')}}</h4>
							{% if form.username.errors %}
								<div class="alert alert-danger">
									<ul class=errors>
									  <li>{{_('Invalid username or password') }}</li>
									</ul>
								</div>
							{% endif %}
							<form method="post">
								<div class="form-group">
									{{form.username(class="form-control material", placeholder=_('Username'))}}
								</div>
								<div class="form-group">
									{{form.password(class="form-control material", placeholder=_('Password'))}}
								</div>
								<button type="submit" class="btn btn-block btn-info text-uppercase waves">{{_('Sign in')}}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}