{%- extends "layouts/base.html" %}

{% block html_attribs %}
{{super()}}
lang="en"
{% endblock %}

{% block head %}
{{super()}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no"/>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='bower_components/Waves/dist/waves.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">


{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/Waves/dist/waves.min.js')}}"></script>
<script>
	//Waves effect on buttons
	Waves.attach('.waves', ['waves-float']);
	Waves.init();
</script>
{% endblock %}


{% block body %}
{{super()}}
<div class="table-wrapper">
	<div class="table-row">
		<div class="table-cell text-center">
			<div class="pagenotfound i-block">
				<div class="content-box">
					<div class="light-blue-bg top">
						<h1 class="zero-m">401</h1>
						{% if not lic_info and not err_msg %}
						<a href="/" class="fa-stack fa-2x icon-back">
							<i class="fa fa-circle fa-stack-2x blue"></i>
							<i class="fa fa-long-arrow-left fa-stack-1x fa-inverse"></i>
						</a>
              <span href="/" class="fa-stack fa-2x icon-home">
                <i class="fa fa-circle fa-stack-2x yellow"></i>
                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
              </span>
						{% endif %}
					</div>
					<div class="big-box">
						{% if lic_info %}
						<h4>{{ _('License expired')}}</h4>
						<dl class="dl-horizontal">
							<dt>
								{{_('Sales Department')}}:
							</dt>
							<dd>
								<label><a href="mailto:sales@cnpo.ru" class="ng-binding">sales@cnpo.ru</a></label>
							</dd>
							<dt>
								{{_('License number')}}:
							</dt>
							<dd>
								{{lic_info.license_number[0]}}
							</dd>
							<dt>
								{{_('License owner')}}:
							</dt>
							<dd>
								{{lic_info.owner[0]}}
							</dd>
							<dt>
								{{_('License expired')}}:
							</dt>
							<dd>
								{{lic_info.expire_time[0]}}
							</dd>
						</dl>
					</div>
					{% endif %}
					{% if err_msg %}
					<h4>{{ _('License key is not found.') }}</h4>
					{% else %}
					<h4>{{ _('Access denied')}}</h4>
					<p>{{ _('Please, singht in before strarting the work')}}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
